# Auto detect text files and perform LF normalization
* text=auto

*.gprj linguist-vendored
impl/** linguist-vendored
boards/a2n9/impl/** linguist-vendored
boards/a2n20v1/impl/** linguist-vendored
boards/a2n20v2/impl/** linguist-vendored
boards/a2n20v2-Enhanced/impl/** linguist-vendored

src/picosoc/libraries/ff/** linguist-vendored
src/picosoc/libraries/pff/** linguist-vendored
src/picosoc/libraries/xprintf/** linguist-vendored
