.vscode/
*.user
impl/gwsynthesis/*
!impl/gwsynthesis/*.cfg
impl/temp/*
impl/pnr/*
!impl/pnr/*.cfg
!impl/pnr/*.fs
impl/synthesize/*
!impl/synthesize/*.cfg

#ModelSim
sim/work/
sim/modelsim.ini
sim/*.wlf
sim/*.log
sim/transcript
gwsynthesis
temp
*.user
*.do
*.bin
*.binx
*.db
*.log
*.timing_paths
*.vcd
*.vvp
*.bak
*.elf
*.map
.DS_Store

src/picosoc/firmware/firmware.hex
!src/picosoc/boot/boot.bin
