// Mega 60K A2FPGA Pin Constraints File


// Clock

IO_LOC  "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// UART

IO_LOC "uart_tx" B3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "uart_rx" C3;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;


// HDMI

IO_LOC  "tmds_clk_p" G2,G1;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d_p[0]" J4,K4;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d_p[1]" K1,K2;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d_p[2]" L2,L1;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

// Apple II Bus Interface

// Bus Transceiver Control Lines

IO_LOC  "a2_bus_oe" H5;
IO_PORT "a2_bus_oe" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_a_dir" J5;
IO_PORT "a2_a_dir" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_d_dir" E11;
IO_PORT "a2_d_dir" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Bus Control Lines

IO_LOC  "a2_rw_n" E10;
IO_PORT "a2_rw_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_inh_n" A11;
IO_PORT "a2_inh_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_reset_n" A10;
IO_PORT "a2_reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_rdy_n" D11;
IO_PORT "a2_rdy_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_irq_n" D10;
IO_PORT "a2_irq_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_dma_n" C11;
IO_PORT "a2_dma_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_nmi_n" C10;
IO_PORT "a2_nmi_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_mb20" G10;
IO_PORT "a2_mb20" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_sync_n" B11;
IO_PORT "a2_sync_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_m2sel_n" J10;
IO_PORT "a2_m2sel_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_res_out_n" B10;
IO_PORT "a2_res_out_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_int_out_n" G4;
IO_PORT "a2_int_out_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_int_in_n" H4;
IO_PORT "a2_int_in_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_dma_out_n" H1;
IO_PORT "a2_dma_out_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_dma_in_n" H2;
IO_PORT "a2_dma_in_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Bus Clock Lines

IO_LOC  "a2_phi1" H11;
IO_PORT "a2_phi1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_q3" H10;
IO_PORT "a2_q3" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_7M" G11;
IO_PORT "a2_7M" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Bus Data Lines

IO_LOC  "a2_d[0]" L9;
IO_PORT "a2_d[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[1]" K9;
IO_PORT "a2_d[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//SSPI
IO_LOC  "a2_d[2]" J8;
//IO_LOC  "a2_d[2]" R17;
IO_PORT "a2_d[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//SSPI
IO_LOC  "a2_d[3]" K8;
//IO_LOC  "a2_d[3]" P16;
IO_PORT "a2_d[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[4]" F7;
IO_PORT "a2_d[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[5]" F6;
IO_PORT "a2_d[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[6]" E8;
IO_PORT "a2_d[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[7]" E3;
IO_PORT "a2_d[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Bus Address Lines

IO_LOC  "a2_a[0]" L5;
IO_PORT "a2_a[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[1]" K5;
IO_PORT "a2_a[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[2]" H8;
IO_PORT "a2_a[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// SSPI
IO_LOC  "a2_a[3]" H7;
//IO_LOC  "a2_a[3]" L14;
IO_PORT "a2_a[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//SSPI
IO_LOC  "a2_a[4]" G7;
//IO_LOC  "a2_a[4]" L15;
IO_PORT "a2_a[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[5]" G8;
IO_PORT "a2_a[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[6]" F5;
IO_PORT "a2_a[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[7]" G5;
IO_PORT "a2_a[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[8]" K7;
IO_PORT "a2_a[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[9]" J7;
IO_PORT "a2_a[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[10]" L7;
IO_PORT "a2_a[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[11]" L8;
IO_PORT "a2_a[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[12]" L10;
IO_PORT "a2_a[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[13]" K10;
IO_PORT "a2_a[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[14]" K11;
IO_PORT "a2_a[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[15]" L11;
IO_PORT "a2_a[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "ESP32_GPIO_0" J11;
IO_PORT "ESP32_GPIO_0" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

/*
IO_LOC  "ESP32_GPIO_1" J1;
IO_PORT "ESP32_GPIO_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "ESP32_GPIO_2" J2;
IO_PORT "ESP32_GPIO_2" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "ESP32_QSPI_CS" L4;
IO_PORT "ESP32_QSPI_CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "ESP32_QSPI_CLK" B2;
IO_PORT "ESP32_QSPI_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "ESP32_QSPI_D0" C2;
IO_PORT "ESP32_QSPI_D0" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "ESP32_QSPI_D1" F2;
IO_PORT "ESP32_QSPI_D1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "ESP32_QSPI_D2" F1;
IO_PORT "ESP32_QSPI_D2" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "ESP32_QSPI_D3" A1;
IO_PORT "ESP32_QSPI_D3" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "ESP32_INT" L3;
IO_PORT "ESP32_INT" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "PIN_I2S_BCLK" D8;
IO_PORT "PIN_I2S_BCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "PIN_I2S_DOUT" D1;
IO_PORT "PIN_I2S_DOUT" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "PIN_I2S_WS" E1;
IO_PORT "PIN_I2S_WS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
*/


