// Mega 60K A2FPGA Pin Constraints File


// Clock & Reset/Button S1

IO_LOC  "clk" V22;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC  "rst" F4;
IO_PORT "rst" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5; 

IO_LOC "button" AB13;
IO_PORT "button" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5; 

// UART

IO_LOC "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "uart_rx" V14;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;


// HDMI

IO_LOC  "tmds_clk_p" G16,G15;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d_p[0]" H14,J14;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d_p[1]" H15,J15;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d_p[2]" J17,K17;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "hdmi_hpd" K13;
IO_PORT "hdmi_hpd" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "hdmi_cec" K14;
IO_PORT "hdmi_cec" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "hdmi_scl" M13;
IO_PORT "hdmi_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "hdmi_sda" L13;
IO_PORT "hdmi_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// DIP Switches

IO_LOC  "dip_switches_n[0]" J16;
IO_PORT "dip_switches_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "dip_switches_n[1]" F13;
IO_PORT "dip_switches_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "dip_switches_n[2]" F14;
IO_PORT "dip_switches_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "dip_switches_n[3]" F15;
IO_PORT "dip_switches_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// LEDs

IO_LOC  "led[0]" D15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[1]" D14; 
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Apple II Bus Interface

// Bus Transceiver Control Lines

IO_LOC  "a2_bus_oe" U21;
IO_PORT "a2_bus_oe" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_a_dir" T21;
IO_PORT "a2_a_dir" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_d_dir" P20;
IO_PORT "a2_d_dir" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Bus Control Lines

IO_LOC  "a2_rw_n" G18;
IO_PORT "a2_rw_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_inh_n" G21;
IO_PORT "a2_inh_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_reset_n" G22;
IO_PORT "a2_reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_rdy_n" F18;
IO_PORT "a2_rdy_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_irq_n" E18;
IO_PORT "a2_irq_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_dma_n" C22;
IO_PORT "a2_dma_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_nmi_n" B22;
IO_PORT "a2_nmi_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_mb20" F19;
IO_PORT "a2_mb20" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_sync_n" F20;
IO_PORT "a2_sync_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_m2sel_n" J19;
IO_PORT "a2_m2sel_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_res_out_n" F21;
IO_PORT "a2_res_out_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_int_out_n" E22;
IO_PORT "a2_int_out_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_int_in_n" D22;
IO_PORT "a2_int_in_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_dma_out_n" E21;
IO_PORT "a2_dma_out_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "a2_dma_in_n" D21;
IO_PORT "a2_dma_in_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Bus Clock Lines

IO_LOC  "a2_phi1" H19;
IO_PORT "a2_phi1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_q3" H20;
IO_PORT "a2_q3" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_7M" G20;
IO_PORT "a2_7M" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Bus Data Lines

IO_LOC  "a2_d[0]" N18;
IO_PORT "a2_d[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[1]" N19;
IO_PORT "a2_d[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//SSPI
IO_LOC  "a2_d[2]" M18;
//IO_LOC  "a2_d[2]" R17;
IO_PORT "a2_d[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//SSPI
IO_LOC  "a2_d[3]" L18;
//IO_LOC  "a2_d[3]" P16;
IO_PORT "a2_d[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[4]" K18;
IO_PORT "a2_d[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[5]" K19;
IO_PORT "a2_d[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[6]" H17;
IO_PORT "a2_d[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_d[7]" H18;
IO_PORT "a2_d[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Bus Address Lines

IO_LOC  "a2_a[0]" T20;
IO_PORT "a2_a[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[1]" R19;
IO_PORT "a2_a[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[2]" P19;
IO_PORT "a2_a[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// SSPI
IO_LOC  "a2_a[3]" N22;
//IO_LOC  "a2_a[3]" L14;
IO_PORT "a2_a[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//SSPI
IO_LOC  "a2_a[4]" M22;
//IO_LOC  "a2_a[4]" L15;
IO_PORT "a2_a[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[5]" M21;
IO_PORT "a2_a[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[6]" L21;
IO_PORT "a2_a[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[7]" L19;
IO_PORT "a2_a[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[8]" L20;
IO_PORT "a2_a[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[9]" K21;
IO_PORT "a2_a[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[10]" K22;
IO_PORT "a2_a[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[11]" J22;
IO_PORT "a2_a[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[12]" H22;
IO_PORT "a2_a[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[13]" J20;
IO_PORT "a2_a[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[14]" J21;
IO_PORT "a2_a[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "a2_a[15]" G17;
IO_PORT "a2_a[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

